body {

    background-color: #302f2f;
  }

  p{
   
    color:white;
}
h1,h2,h3,h4{

    color:white;
 
}

.ele_inline {
    display: inline
}

#inputForm{

  display:inline-block;
    
}

#randomBtn{
    margin-left: 100px;
}